<section class="section container-fluid" data-ng-if="!!pdC.detail">
	<div class="row">
		<form class="form-group">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="tile-movie">
					<div class="title-movie">
						<span>{{pdC.detail.title}}</span>
					</div>
					<img class="img-responsive img-movie"
					     data-ng-src="{{pdC.detail.imageLoaded}}" data-ng-init="pdC.loadImage(pdC.detail)" />

					<uib-tabset class="description-movie">
						<uib-tab heading="{{'DETAIL_TITLE' | translate}}">
							<span>{{pdC.getDescription(pdC.detail)}}</span>
						</uib-tab>
						<uib-tab heading="{{'MORE_INFOS' | translate}}">
							<span qs-info movie="pdC.detail"></span>
						</uib-tab>
						<uib-tab heading="{{'PROGRAM' | translate}}">
							<span qs-program movie="pdC.detail"></span>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</form>
	</div>
</section>