<section class="section container-fluid modalBackground">
	<div class="modal-header">
		<h3 class="modal-title">{{infoC.getTitle(infoC.movie)}}</h3>
	</div>
	<div class="modal-body">
		<table class="table table-striped">
			<tr data-ng-repeat="(key, value) in infoC.movie.informations">
				<td>{{key | uppercase | translate}}</td>
				<td>{{value | translate}}</td>
			</tr>
		</table>
		<button type="button"
		        class="btn btn-default form-control infoButton"
		        translate="CLOSE"
		        data-ng-click="infoC.close()"></button>
	</div>
</section>