<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6 margin-b-2"
	     data-ng-click="mC.goDetail(movie)"
	     data-ng-repeat="movie in mC.movies | orderBy : mC.predicate : mC.reverse"
	     data-ng-hide="mC.isFavoris && !mC.isInFavoris(movie.id)">
		<div class="tile-movie" data-ng-class="{'tile-movie-cursor' : !mC.isNews}">
			<div class="title-movie">
	                <span class="fa"
	                      data-ng-class="{'fa-star-o' : !mC.isInFavoris(movie.id), 'fa-star' : mC.isInFavoris(movie.id)}"
	                      data-ng-click="mC.addOrDeleteFavoris(movie.id); $event.stopPropagation();"></span>
				<span>{{mC.getTitle(movie)}}</span>
			</div>
			<img class="img-responsive img-movie" data-ng-if="movie.image"
			     data-ng-src="{{mC.getImage(movie)}}"/>

			<div class="description-movie">
				<p>{{mC.getDescription(movie) | truncate:true:450}}</p>
			</div>
		</div>
	</div>
</div>