<div class="col-sm-12 movies" data-ng-repeat="movie in moviesCtrl.movies">
    <div class="row">
        <div class="movie-title title_padding">
            <span class="fa fa-star-o favoris" data-ng-show="!moviesCtrl.isInFavoris(movie)"
                  data-ng-click="moviesCtrl.addFavoris(movie)"></span>
            <span class="fa fa-star favoris" data-ng-show="moviesCtrl.isInFavoris(movie)"
                  data-ng-click="moviesCtrl.deleteFavoris(movie)"></span>
            <span class="title">{{movie.title}} - {{movie.time}}</span>
            <a data-ui-sref="detail({id: movie.id})" class="fa fa-chevron-right pull-right detail"></a>
        </div>
    </div>
    <div class="row lightGray">
        <div>
            <span data-ng-if="movie.image" style="float:left; width:10%;">
                <img class="img-responsive" data-ng-src="{{movie.image}}"/>
            </span>
            <span>{{movie.summary}}</span>
        </div>
    </div>
</div> 