<h1 class="app-name">Queersicht</h1>

<div class="scrollable">
	<h1 class="scrollable-header app-name">Queersicht</h1>

	<div class="scrollable-content">
		<div class="list-group" style="border-top:1px solid white;" data-ui-turn-off='uiSidebarLeft'>
			<a class="list-group-item" data-ui-sref="movie">{{'PROG_PER_MOVIE_TITLE' | translate}}
				<i class="fa fa-chevron-right pull-right"></i>
			</a>
			<a class="list-group-item" data-ui-sref="cinema">{{'PROG_PER_MOVIE_TITLE' | translate}}
				<i class="fa fa-chevron-right pull-right"></i>
			</a>
			<a class="list-group-item" data-ui-sref="date">{{'PROG_PER_DATE_TITLE' | translate}}
				<i class="fa fa-chevron-right pull-right"></i>
			</a>
			<a class="list-group-item" data-ui-sref="favoris">{{'FAVORIS_TITLE' | translate}}
				<i class="fa fa-chevron-right pull-right"></i>
			</a>

			<div class="pull-down" style="border-top:1px solid white;">
				<a class="list-group-item" data-ui-sref="settings">{{'SETTINGS_TITLE' | translate}}
					<i class="fa fa-cog pull-left"></i>
				</a>
			</div>
		</div>
	</div>
</div>