<h1 class="app-name">Queersicht</h1>

<div class="scrollable">
	<h1 class="scrollable-header app-name">Queersicht</h1>

	<div class="scrollable-content">
		<div class="list-group" data-ui-turn-off='uiSidebarLeft'>
			<a class="list-group-item" data-ui-sref="movie" translate="PROG_PER_MOVIE_TITLE"><i
					class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" data-ui-sref="cinema" translate="PROG_PER_CINEMA_TITLE">
				<i class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" data-ui-sref="date" translate="PROG_PER_DATE_TITLE">
				<i class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" data-ui-sref="favoris" translate="FAVORIS_TITLE">
				<i class="fa fa-chevron-right pull-right"></i></a>
		</div>
	</div>
</div>