<h1 class="app-name">Queersicht</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">Queersicht</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" ui-sref="movie">Program per Movie<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="cinema">Program per Cinema<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="date">Program per Date<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-sref="favoris">Favoris <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>