<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Queersicht</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
	<link rel="stylesheet" href="css/app.min.css"/>

	<!-- inject:js -->
	<!--<script src="js/app-min.js"></script>-->
	<script src="js/app.js"></script>
</head>
<body data-ng-app="Queersicht" data-ng-controller="QueersichtController as queersichtCtrl"
      style="font-family: 'GloberRegular' !important;">
<!-- Sidebars -->
<div data-ng-include="'sidebar.html'"
     data-ui-track-as-search-param='true'
     class="sidebar sidebar-left"></div>

<div class="app">
	<!-- Navbars -->
	<div class="navbar navbar-app navbar-absolute-top">
		<div class="navbar-brand navbar-brand-center" data-ui-yield-to="title"
		     translate="{{queersichtCtrl.sharedItemsService.title}}">
		</div>
		<div class="btn-group pull-left">
			<div data-ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
				<i class="fa fa-bars"></i> <span translate="MENU"></span>
			</div>
		</div>

		<!-- Refresh buttons -->
		<div class="btn-group navbar-brand pull-right"
		     data-ng-if="queersichtCtrl.isRefreshAvailable()"
		     data-ng-click="queersichtCtrl.sharedItemsService.refreshCallback()">
			<div style="cursor: pointer;">
				<span><i class="fa fa-refresh"></i></span>
			</div>
		</div>
	</div>

	<!-- App Body -->
	<div class="app-body">
		<div class="app-content" style="overflow: auto !important;">
			<!-- Loading Spinner -->
			<div id="loading" data-ng-show="queersichtCtrl.sharedItemsService.isLoading">
				<span><i class="spinner fa fa-spin fa-3x"
				         data-ng-class="[queersichtCtrl.settings.getSetting('selectedSpinner')]"></i></span>
			</div>
			<!-- Templates -->
			<div data-ui-view></div>
		</div>

		<!-- Error Messages -->
		<div data-ng-if="queersichtCtrl.sharedItemsService.errorMessage"
		     class="alert alert-danger errorMessage"
		     role="alert"
		     type="alert">
			<span translate="{{queersichtCtrl.sharedItemsService.errorMessage}}"></span>
		</div>
	</div>

</div>
<!-- ~ .app -->

<div data-ui-yield-to="modals"></div>
</body>
</html>