#description {
    padding: 8px
}

#errorPage {
    background: #d3d3d3;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

#errorPage .errorIcon {
    display: block;
    left: 50%;
    position: initial;
    text-align: center;
    top: 50%
}

#loading {
    background: grey;
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000
}

#loading .spinner {
    color: #000;
    left: 50%;
    position: initial;
    top: 50%;
    z-index: 1001
}

.app .app-body .errorMessage {
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 1002
}

.detail:hover, .detail, a.list-group-item {
    color: #FFF
}

.list-group-item {
    background: #2f3336 !important;
    display: block;
    padding: 10px 15px;
    position: relative
}

.list-group-item, a.list-group-item {
    border: 0;
    border-bottom: 1px solid #ddd;
    color: #FFF !important;
    margin-bottom: 0
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background: #FFF !important;
    border-color: lightgray !important;
    color: #000 !important;
    z-index: 2
}

.modalBackground {
    color: #000 !important
}

.movies {
    background: grey;
    border: 1px solid #000;
    margin: .5em
}

.nav-tabs > a:hover {
    background: #aeaeae !important;
    border: 1px solid #ddd !important;
    color: #000;
    cursor: default
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #dedede !important;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    color: #000
}

.nav-tabs > li > a {
    color: #000
}

.nav-tabs > li > a:hover {
    border-color: #000
}

.navbar-app, .navbar-app .btn, .navbar-app .btn-navbar {
    background: #2f3336 !important;
    color: #FFF !important
}

.scrollable-content .list-group .pull-down {
    bottom: 0;
    position: absolute;
    width: 100%
}

.sidebar-left {
    background: #2f3336 !important
}

.tab-content {
    background: #dedede !important;
    border: 1px solid #000
}

.table {
    margin-bottom: 0 !important
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #dedede !important
}

body {
    font-family: 'GloberRegular' !important
}

div .tile-movie {
    background: #FFF;
    border: 1px solid #000;
    padding: 4px
}

div .tile-movie .description-movie {
    background: lightgray;
    border: 1px solid #000;
    padding: .5em;
    text-align: justify
}

@font-face {
    src: url(../fonts/GloberRegular.otf);
    font-family: 'GloberRegular' !important
}

.section, .app {
    background: #eee !important
}

.table-striped > tbody > tr:nth-of-type(even) {
    background: #bfbfbf !important
}

div .tile-movie .description-movie-height {
    min-height: 150px
}

div .tile-movie .img-movie {
    border: 1px solid #000;
    height: auto;
    width: 100%
}

div .tile-movie-cursor {
    cursor: pointer
}

div .title-movie {
    background: #2f3336;
    color: #fff;
    padding: 4px 8px
}

div .title-movie span {
    vertical-align: middle
}

h2 {
    border-bottom: 2px solid #2f3336;
    border-top: 2px solid #2f3336;
    margin-top: 50px !important
}

section .row .margin-b-2 {
    margin-bottom: 2em !important
}