@font-face {
    font-family: "GloberRegular";
    src: url(../fonts/GloberRegular.otf);
}

.movies {
    margin: 0.5em;
    background-color: grey;
    border: 1px solid black;
}

h2 {
    border-top: 2px solid #2f3336;
    border-bottom: 2px solid #2f3336;
    margin-top: 50px !important;
}

.detail:hover {
    color: white;
}

.detail {
    color: white;
}

.sidebar-left {
    background: #2f3336 !important;
}

.navbar-app, .navbar-app .btn, .navbar-app .btn-navbar {
    background: #2f3336 !important;
    color: white !important;
}

.list-group-item, a.list-group-item {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    color: white !important;
}

a.list-group-item {
    color: white;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #2f3336 !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: black !important;
    background-color: white !important;
    border-color: lightgray !important;
}

.app {
    background: white !important;
}

.scrollable-content .list-group .pull-down {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: 0.8;
    text-align: center;
}

#loading .spinner {
    position: initial;
    color: black;
    z-index: 1001;
    top: 50%;
    left: 50%;
}

#errorPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

#errorPage .errorIcon {
    position: initial;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
}

.app .app-body .errorMessage {
    margin: auto;
    width: 100%;
    z-index: 1002;
    position: absolute;
    bottom: 0;
}

section .row .margin-b-2 {
    margin-bottom: 2em !important;
}

div .tile-movie {
    border: 1px solid black;
    padding: 4px;
}

div .tile-movie-cursor {
    cursor: pointer;
}

div .tile-movie .img-movie {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

div .tile-movie .description-movie {
    background-color: lightgray;
    padding: 0.5em;
    min-height: 150px;
    border: 1px solid black;
}

div .title-movie {
    padding: 4px 8px;
    color: #fff;
    background: #2f3336;
}

div .title-movie span {
    vertical-align: middle;
}

div .tile-movie .infoButton {
    background-color: grey !important;
    margin-top: 4px;
    color: white;
}

